@charset "UTF-8";

@import "../../_def";

#about {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  color: #f3d547;
  padding: 150px 5vw 550px 5vw;
  display: block;

  > .about-container {
    @include flex(column, center, center);
    min-height: 0;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;

    .box-padding {
      padding: 5px;
    }

    > .about-row {
      @include flex(row, center, center, clamp(16px, 2.5vw, 34px));
      width: 100%;
      padding-bottom: 30px;

      // 좁은 화면에서 세로로 정렬
      @media (max-width: 768px) {
        align-items: flex-start;
        flex-direction: column;
        gap: 24px;
      }

      > .about-box {
        @include flex(row, center, center);
        width: clamp(320px, 100%, 567px);
        min-height: 300px;
        background-color: #159188;
        border: 4px solid #0b3b41;
        box-shadow: 9px 9px 0 #000914;
        position: relative;

        > .about-inner-box {
          @include flex(column, flex-start, flex-start);
          width: 100%;
          height: 100%;
          background-color: #159188;
          border: 4px solid #0b3b41;

          > .about-title-bar {
            @include flex(row, center, space-between);
            width: 100%;
            color: yellow;
            background-color: #c92d6d;
            padding: 6px 12px;
            border-bottom: 4px solid #0b3b41;
            font-size: 23px;
            font-weight: bold;
            text-shadow: 2px 2px 0 #000, 4px 4px 0 #444;
            box-shadow: inset -2px -2px 0 #ffffff33, inset 2px 2px 0 #00000066;

            > .about-title-bar-icon {
              @include flex(row, center, center);
              width: 36px;
              height: 36px;
              aspect-ratio: 1/1;
              border: 4px solid #0b3b41;
              padding-bottom: 4px;

              span {
                display: inline-block;
              }
            }
          }

          > .about-content-box {
            margin: 10px auto;
            width: 94%;
            max-width: 100%;
            min-height: 180px;
            background-color: #0d6b6f;
            border-radius: 8px;
            padding: 10px;
            border: 4px solid #0b3b41;
            word-break: break-all;
            color: #e6dfcd;

            > .info-line {
              margin-bottom: 10px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }


          > .btn-box {
            @include flex(row, center, center, 8px);
            width: 100%;
            padding: 4px 4px 14px 4px;
            text-align: center;

            > .btn {
              min-width: 96px;
              padding: 5px 12px;
              font-size: clamp(14px, 1.5vw, 18px);
              font-weight: 600;
              text-align: center;
              box-shadow: inset -2px -2px 0 #ffffff33, inset 2px 2px 0 #00000066;
              cursor: none;

              &.btn-ok {
                background-color: #d49a30;
                border: 2px solid #0b3b41;
                color: #0b3b41;
                text-shadow: 2px 2px 1px #5c3b00;
                position: relative;

                &::after {
                  content: "안녕하세요👋 백엔드 개발자 김태용입니다. 반가워요!";
                  position: absolute;
                  top: -102px;
                  left: -150px;
                  width: 215px;
                  box-sizing: border-box;

                  background-color: #f8f8f8;
                  color: #0b3b41;
                  padding: 34px 12px 16px 12px;
                  font-size: 12px;
                  font-weight: 600;
                  white-space: pre-wrap;
                  text-align: left;

                  border: 4px solid #2b2b2b;
                  box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.25),
                  inset 0 -2px 0 rgba(0, 0, 0, 0.25),
                  inset -2px 0 0 rgba(255, 255, 255, 0.25),
                  inset 0 2px 0 rgba(255, 255, 255, 0.25),
                  4px 4px 0 rgba(0, 0, 0, 0.25);

                  background-image: linear-gradient(to bottom, #d22 25px, transparent 25px);
                  background-repeat: no-repeat;
                  background-size: 100% 25px;

                  image-rendering: pixelated;
                  font-family: 'Press Start 2P', monospace;
                  text-shadow: none;

                  pointer-events: none;
                  z-index: 10;
                  opacity: 0;
                  transform: translateY(-10px);
                  transition: opacity 0.3s ease, transform 0.3s ease;

                  @media (max-width: 540px) {
                    left: -130px;
                    //width: clamp(150px, 90%, 215px);
                  }
                }

                &:hover::after {
                  opacity: 1;
                  transform: translateY(0);
                }
              }

              &.btn-cancel {
                background-color: #1a4b85;
                border: 2px solid #0b3b41;
                color: #ffffff;
                text-shadow: 2px 2px 1px #000;
                position: relative;


                &::after {
                  content: "코드 작성 후 🏃‍♂️ 스트레칭은 필수";
                  position: absolute;
                  top: -102px;
                  left: 45px;
                  width: 150px;

                  background-color: #f8f8f8;
                  color: #0b3b41;
                  padding: 34px 12px 16px 12px;
                  font-size: 12px;
                  font-weight: 600;
                  white-space: pre-wrap;
                  text-align: left;

                  border: 4px solid #2b2b2b;
                  box-shadow: inset 2px 0 0 rgba(0, 0, 0, 0.25),
                  inset 0 -2px 0 rgba(0, 0, 0, 0.25),
                  inset -2px 0 0 rgba(255, 255, 255, 0.25),
                  inset 0 2px 0 rgba(255, 255, 255, 0.25),
                  4px 4px 0 rgba(0, 0, 0, 0.25);

                  background-image: linear-gradient(to bottom, #4a90a0 25px, transparent 25px);
                  background-repeat: no-repeat;
                  background-size: 100% 25px;

                  image-rendering: pixelated;
                  font-family: 'Press Start 2P', monospace;
                  text-shadow: none;

                  pointer-events: none;
                  z-index: 10;
                  opacity: 0;
                  transform: translateY(-10px);
                  transition: opacity 0.3s ease, transform 0.3s ease;
                }

                &:hover::after {
                  opacity: 1;
                  transform: translateY(0);
                }
              }

              &.pulse {
                -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
              }
            }
          }
        }
      }

      > .contact-side-box {
        @include flex(column, flex-start, flex-start, 20px);
        box-sizing: border-box;
        align-self: flex-start;

        > .side-box {
          width: 159px;
          aspect-ratio: 1 / 1;
          background-color: #159188;
          border: 4px solid #0b3b41;
          box-shadow: 9px 9px 0 #000914;
          box-sizing: border-box;

          > .side-cont-title {
            color: #c8d7e2;
            background-color: #d49a30;
            padding: 5px;
            font-weight: bold;
            text-shadow: 2px 2px 1px #5c3b00;
            text-align: center;
            border: 4px solid #0b3b41;
          }

          > .side-birth-title {
            background-color: #f2b133;
            padding: 5px;
            font-weight: bold;
            text-shadow: 2px 2px 1px #000;
            text-align: center;
            border: 4px solid #0b3b41;

            &.side-title-blue {
              background-color: #2a6b9a;
            }
          }

          > .side-content {
            @include flex(row, center, center);
            height: calc(100% - 47px);
            border-top: 0;
            border-left: 4px solid #0b3b41;
            border-right: 4px solid #0b3b41;
            border-bottom: 4px solid #0b3b41;
            box-sizing: border-box;
            padding: 10px;
            text-align: center;
            color: #e6dfcd;
          }
        }
      }
    }

    > .lower-windows {
      width: 100%;
      display: block;

      > .edu-container {
        @include flex(column, center, center);

        .edu-title-bar {
          @include flex(row, flex-start, space-between);
          padding: 6px 12px;
          border: 4px solid #0b3b41;
          box-shadow: inset -2px -2px 0 #ffffff33, inset 2px 2px 0 #00000066;
          font-weight: bold;
          text-shadow: 2px 2px 0 #000, 4px 4px 0 #444;
          color: yellow;
          background-color: #f2b133;

          span:last-child {
            //cursor: default;
          }
        }

        .info-title-bar {
          @include flex(row, flex-start, space-between);
          padding: 6px 12px;
          border: 4px solid #0b3b41;
          box-shadow: inset -2px -2px 0 #ffffff33, inset 2px 2px 0 #00000066;
          font-weight: bold;
          text-shadow: 2px 2px 0 #000, 4px 4px 0 #444;
          color: yellow;
          background-color: #1a4b85;

          span:last-child {
            //cursor: default;
          }
        }

        .link-title-bar {
          @include flex(row, flex-start, space-between);
          padding: 6px 12px;
          border: 4px solid #0b3b41;
          box-shadow: inset -2px -2px 0 #ffffff33, inset 2px 2px 0 #00000066;
          font-weight: bold;
          text-shadow: 2px 2px 0 #000, 4px 4px 0 #444;
          color: yellow;
          background-color: #ed2d87;

          span:last-child {
            //cursor: default;
          }
        }

        > .edu-window {
          width: clamp(300px, 100%, 767px);
          background-color: #159188;
          border: 4px solid #0b3b41;
          box-shadow: 9px 9px 0 #000914;
          box-sizing: border-box;
          margin-bottom: 30px;

          > .edu-content-box {
            height: calc(100% - 43px);
            border-top: 0;
            border-left: 4px solid #0b3b41;
            border-right: 4px solid #0b3b41;
            border-bottom: 4px solid #0b3b41;
            box-sizing: border-box;
            color: #e6dfcd;
            padding: 10px;

            > .edu-line {
              @include flex(row, flex-start, space-between);
              width: 100%;
              flex-wrap: wrap;
              padding-bottom: 6px;

              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }

        > .link-window {
          width: clamp(300px, 100%, 767px);
          background-color: #159188;
          border: 4px solid #0b3b41;
          box-shadow: 9px 9px 0 #000914;
          box-sizing: border-box;
          margin-bottom: 30px;

          > .link-content-box {
            @include flex(row, flex-start, flex-start, 16px);
            height: calc(100% - 43px);
            border-top: 0;
            border-left: 4px solid #0b3b41;
            border-right: 4px solid #0b3b41;
            border-bottom: 4px solid #0b3b41;
            box-sizing: border-box;
            color: #e6dfcd;
            padding: 10px;
            flex-wrap: wrap;

            > .link-box {
              @include flex(row, center, flex-start);
              transition: opacity 0.5s ease-out, transform 0.5s ease-out, text-shadow 0.5s ease-out;

              &:hover {
                color: #f3d547;
                text-shadow: 2px 2px 0 #000, 4px 4px 0 #444;
                transform: scale(1.05);
              }

              &.hint {
                animation: hint-blink 3.5s infinite ease-in-out;

                &:nth-child(1) {
                  animation-delay: 0s;
                }

                &:nth-child(2) {
                  animation-delay: 0.4s;
                }

                &:nth-child(3) {
                  animation-delay: 0.8s;
                }
              }

              .notion-link, .tistory-link, .github-link {
                @include flex(row, center, flex-start, 6px);
                color: inherit;
                text-decoration: none;
                cursor: none;

                .notion-icon, .tistory-icon, .github-icon {
                  height: clamp(16px, 2vw, 24px);
                }
              }
            }
          }
        }

        > .info-window {
          width: clamp(300px, 100%, 767px);
          background-color: #159188;
          border: 4px solid #0b3b41;
          box-shadow: 9px 9px 0 #000914;
          box-sizing: border-box;

          > .info-content-box {
            height: auto;
            border-top: 0;
            border-left: 4px solid #0b3b41;
            border-right: 4px solid #0b3b41;
            border-bottom: 4px solid #0b3b41;
            box-sizing: border-box;
            padding: 10px;

            > .info-content-title {
              color: #FFB400;
              padding-bottom: 4px;
            }

            > .info-content-caption {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              color: #e6dfcd;
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@keyframes hint-blink {
  0%, 100% {
    filter: brightness(1);
  }
  2%, 4% {
    filter: brightness(1.5);
  }
  6%, 8% {
    filter: brightness(1);
  }
  10%, 12% {
    filter: brightness(1.5);
  }
  14%, 100% {
    filter: brightness(1);
  }
}
