@charset "UTF-8";

@import "../../_def";

#career {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  height: 100vh;
  padding: 60px 5vw;
  display: block;

  > .career-wrapper {
    @include flex(column, center, flex-start);
    width: 100%;
    height: 100%;


    > .career-title {
      font-size: clamp(28px, 10vw, 60px);
      font-weight: 900;
      text-shadow: 2px 2px 0 #000, 4px 4px 0 #444;
      letter-spacing: 1px;
      color: #3a9ec6;
      padding-bottom: 35px;
    }

    > .window-container {
      @include flex(row, flex-start, flex-start, 10px);
      width: 100%;
      margin: 0;

      > .window {
        position: relative;
        width: 170px;
        height: 120px;
        background-color: #32a3a6;
        box-sizing: border-box;
        border: 4px solid #3a363c;
        box-shadow: 4px 4px 0 #231e21,
        8px 8px 0 #db4980;

        > .inner-shadow-wrapper {
          @include flex(column, flex-start, flex-start);
          width: 100%;
          height: 100%;
          padding: 0 8px;
          border-top: 4px solid #ccc;
          border-right: 4px solid #7f4896;
          border-bottom: 11px solid #7f4896;
          box-sizing: border-box;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background-color: #ccc;
            z-index: 10;
          }

          > .title-bar {
            @include flex(row, center, flex-start, 8px);
            width: 100%;
            height: 26px;
            border: none;
            box-sizing: border-box;
            margin-bottom: 4px;

            > .button {
              width: 14px;
              height: 14px;
              border: 2px solid #211e21;
              border-radius: 3px;

              box-shadow: inset 0 1px 0 #fff9d4,
              inset 0 -2px 2px rgba(0, 0, 0, 0.3),
              0 2px 0 rgba(0, 0, 0, 0.6);

              &.btn1 {
                background-color: #c29753;
              }

              &.btn2 {
                background-color: #c2b564;
              }

              &.btn3 {
                background-color: #b36c3f;
              }
            }
          }

          > .content-box {
            @include flex(column, center, center);
            width: 100%;
            flex: 1 1 auto;
            background-color: #2e2a30;
            box-sizing: border-box;
            border-top: 4px solid #7f4896;
            border-left: 4px solid #7f4896;
            border-right: 4px solid #ccc;
            border-bottom: 4px solid #ccc;
            margin-bottom: 6px;

            > .content-text {
              @include flex(column, center, center);
              font-size: 29px;
              background: linear-gradient(to bottom, #ffffff 55%, #db4980 55%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              user-select: none;
            }

            > .underline {
              width: 85%;
              height: 2px;
              background-color: #db4980;
              border-radius: 2px;
              margin-top: -2px;
              margin-bottom: 6px;
            }
          }
        }
      }
    }
  }
}


