@charset "UTF-8";

@import "../../_def";

#career {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  width: 100%;
  padding: 60px 5vw 550px 5vw;
  display: block;

  > .career-wrapper {
    @include flex(column, center, center, clamp(24px, 6vw, 64px));
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;

    > .career-container {
      @include flex(row, center, center, clamp(16px, 4vw, 40px));
      width: 100%;
      margin: 0;

      &:hover > .window {
        animation: jello-horizontal 0.9s both;
        -webkit-animation: jello-horizontal 0.9s both;
      }

      > .window {
        position: relative;
        width: clamp(100px, 15vw, 150px);
        height: clamp(80px, 12vw, 120px);
        background-color: #32a3a6;
        box-sizing: border-box;
        border: 4px solid #3a363c;
        box-shadow: 4px 4px 0 #231e21,
        8px 8px 0 #db4980;

        > .inner-shadow-wrapper {
          @include flex(column, flex-start, flex-start);
          width: 100%;
          height: 100%;
          padding: 0 clamp(4px, 1vw, 8px);
          border-top: 4px solid #ccc;
          border-right: 4px solid #7f4896;
          border-bottom: 11px solid #7f4896;
          box-sizing: border-box;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background-color: #ccc;
            z-index: 10;
          }

          > .title-bar {
            @include flex(row, center, flex-start, clamp(4px, 1vw, 8px));
            width: 100%;
            height: clamp(18px, 3vw, 26px);
            border: none;
            box-sizing: border-box;
            margin-bottom: clamp(2px, 0.5vw, 4px);

            > .button {
              width: clamp(10px, 2vw, 14px);
              height: clamp(10px, 2vw, 14px);
              border: 2px solid #211e21;
              border-radius: 3px;

              box-shadow: inset 0 1px 0 #fff9d4,
              inset 0 -2px 2px rgba(0, 0, 0, 0.3),
              0 2px 0 rgba(0, 0, 0, 0.6);

              &.btn1 {
                background-color: #c29753;
              }

              &.btn2 {
                background-color: #c2b564;
              }

              &.btn3 {
                background-color: #b36c3f;
              }
            }
          }

          > .content-box {
            @include flex(column, center, center);
            width: 100%;
            flex: 1 1 auto;
            background-color: #2e2a30;
            box-sizing: border-box;
            border-top: 4px solid #7f4896;
            border-left: 4px solid #7f4896;
            border-right: 4px solid #ccc;
            border-bottom: 4px solid #ccc;
            margin-bottom: clamp(4px, 1vw, 6px);

            > .content-text {
              @include flex(column, center, center);
              font-size: clamp(18px, 3vw, 29px);
              background: linear-gradient(to bottom, #ffffff 55%, #db4980 55%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              user-select: none;
            }

            > .underline {
              width: 85%;
              height: 2px;
              background-color: #db4980;
              border-radius: 2px;
              margin-top: -2px;
              margin-bottom: clamp(4px, 1vw, 6px);

              &.short {
                width: 55%;
              }
            }
          }
        }
      }

      > .info {
        color: #bbbbbb;
        flex: 1 1 auto;

        > .title {
          color: #10C06B;
          font-size: clamp(22px, 3vw, 24px);
          text-shadow: 0.15px 0 currentColor,
          -0.15px 0 currentColor;
        }

        > .date {
          margin-bottom: clamp(4px, 1vw, 8px);
          color: #d5d5d5;
          font-size: clamp(19px, 2vw, 20px);
        }

        > .tasks {
          @include flex(column, flex-start, flex-start, clamp(2px, 0.8vw, 4px));
        }
      }

    }
  }
}


@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}