@charset "UTF-8";

@import "../../_def";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#footer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: "Ruda", sans-serif;
}

#myCanvas {
  canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #222;
  }
}

.canvasTTL {
  @include flex(row, center, center);
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}

.vote {
  font-size: 13vmin;
  font-weight: bold;
  letter-spacing: -0.05em;
  display: inline-block;
  white-space: nowrap;
  filter: url(#drawn);
}

.empathy {
  font-size: 9vmin;
  font-weight: bold;
  letter-spacing: -0.068em;
  display: inline-block;
  white-space: nowrap;
  translate: -1.5vmin -4vmin;
  color: hsl(343, 100%, 80%);
  opacity: 1;
  padding: 0 1em;
  filter: url(#drawn);
}

.little {
  width: 90%;
  margin: 0.25em 0;
  font-size: 6vmin;
  text-align: center;
  position: relative;
  translate: 0 -2vmin;
  overflow: hidden;
  filter: url(#drawn2);
  white-space: nowrap;

  &::before {
    background: linear-gradient(to right, hsl(243, 80%, 64%), hsl(343, 80%, 54%));
    content: "";
    position: absolute;
    top: 1px;
    right: 3px;
    bottom: 3px;
    left: 1px;
    filter: url(#drawn2);
  }

  span {
    padding: 0.25em;
    display: inline-block;
    width: 100%;
    position: relative;

    &:last-of-type {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      animation-delay: -5000ms;
    }
  }
}

section.footer-text-effect {
  @include flex(column, center, center);
  height: 100%;
  width: 100%;
  max-width: 1100px;
  margin: auto 0;
  transform: skewY(-8deg);
}

svg {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

#copyright {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: clamp(16px, 2.5vw, 20px)
}


@media (max-width: 800px) {
  .little {
    filter: url(#drawn2-mobile);
  }
}
