@charset "UTF-8";

@import "../../_def";

#intro {
  overflow: hidden;
  position: relative;

  > .video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    overflow: hidden;

    > video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

@media (max-width: 820px) {
  #intro {
    height: 100vh;
    min-height: 100vh;
  }

  #intro .video-wrapper > video {
    object-fit: contain !important;
    width: 100%;
    height: 100%;
    transform: scale(1.8);
    transform-origin: center center;
  }
}