@charset "UTF-8";

@mixin transition($duration) {
  -webkit-transition: all $duration cubic-bezier(0.23, 1, 0.32, 1);
  transition: all $duration cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin rotate($angle) {
  -webkit-transform: rotate($angle);
  transform: rotate($angle);
}

@import "../../_def";

:root {
  --color: #95f9fe;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#projects {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  overflow-y: clip;
  overflow-x: hidden;

  .container {
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    overflow: hidden;

    .center {
      height: 100vh;
      position: absolute;
      left: 22vw;
      top: 50%;
      transform: translate(-50%);
      user-select: none;
      z-index: 999;

      @media (max-width: 1460px) {
        left: 15vw;
      }
      @media (max-width: 1250px) {
        left: 8vw;
      }
      @media (max-width: 950px) {
        left: 5vw;
      }
      @media (max-width: 850px) {
        left: 2vw;
      }
    }

    .right-area {
      @include flex(column, center, flex-start);
      max-height: fit-content;
      position: absolute;
      top: 0;
      right: 0;
      width: clamp(600px, 70vw, 1500px);
      height: 100vh;
      // top / right / bottom / left
      padding: clamp(75px, 10vw, 125px) clamp(10px, 5vw, 200px) clamp(50px, 10vw, 60px) clamp(10px, 20vw, 350px);
      will-change: transform;
      transform: translateZ(0);
      overflow: hidden;
      pointer-events: none;
      opacity: 0;

      @media (max-width: 1750px) {
        padding: clamp(75px, 10vw, 145px) clamp(10px, 5vw, 200px) clamp(50px, 10vw, 70px) clamp(10px, 18vw, 350px);
      }
      @media (max-width: 1450px) {
        padding: clamp(75px, 8vw, 145px) clamp(10px, 5vw, 200px) clamp(50px, 10vw, 70px) clamp(10px, 18vw, 350px);
      }
      @media (max-width: 1250px) {
        padding: clamp(75px, 8vw, 145px) clamp(10px, 5vw, 200px) clamp(50px, 10vw, 70px) clamp(10px, 14vw, 350px);
      }
      @media (max-width: 1150px) {
        padding: clamp(75px, 15vw, 170px) clamp(10px, 5vw, 200px) clamp(50px, 10vw, 70px) clamp(10px, 14vw, 350px);
      }
      @media (max-width: 1000px) {
        padding: clamp(75px, 16vw, 170px) clamp(10px, 5vw, 200px) clamp(50px, 10vw, 70px) clamp(10px, 11vw, 350px);
      }
      @media (max-width: 950px) {
        padding: clamp(75px, 17vw, 170px) clamp(10px, 5vw, 200px) clamp(50px, 10vw, 70px) clamp(10px, 8vw, 350px);
      }
      @media (max-width: 850px) {
        padding: clamp(75px, 18vw, 170px) clamp(10px, 4vw, 200px) clamp(50px, 10vw, 70px) clamp(10px, 8vw, 350px);
      }
      @media (max-height: 900px) {
        padding-top: clamp(60px, 10vh, 110px);
        padding-bottom: clamp(40px, 8vh, 50px);
      }
      @media (max-height: 850px) {
        padding-top: clamp(60px, 8vh, 110px);
        padding-bottom: clamp(40px, 8vh, 50px);
      }
      @media (max-height: 800px) {
        padding-top: clamp(15px, 4vh, 80px);
        padding-bottom: clamp(30px, 4vh, 40px);
      }
      @media (max-height: 700px) {
        padding-top: clamp(5px, 1vh, 80px);
      }
      // 800px에서 모바일 대응 (card 삭제)

      #box {
        @include flex(row, center, center);
        width: 100%;
      }

      .gradient-border {
        @include flex(column, center, center);
        flex: 1; // 상단 사진 영역
        min-height: 155px;
        width: 100%;
        --borderWidth: 3px;
        position: relative;
        border-radius: var(--borderWidth);
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

        &::after {
          content: '';
          position: absolute;
          top: calc(-1 * var(--borderWidth));
          left: calc(-1 * var(--borderWidth));
          height: calc(100% + var(--borderWidth) * 2);
          width: calc(100% + var(--borderWidth) * 2);
          background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
          border-radius: calc(2 * var(--borderWidth));
          z-index: -1;
          animation: animatedgradient 3s ease alternate infinite;
          background-size: 300% 300%;
        }

        .container {
          width: 100%;
          display: flex;
          padding: 0 20px;

          .slide {
            height: auto;
            border-radius: 20px;
            margin: 10px;
            cursor: none;
            color: #fff;
            flex: 1;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            transition: all 0.7s ease-in-out;
            filter: blur(2px);

            &.active {
              flex: 10;
              filter: blur(0px);
            }
          }
        }
      }

      .info {
        @include flex(column, flex-start, flex-start, 24px);
        flex: 3; // 중간 프로젝트 정보 영역
        margin-bottom: 20px;
        width: 100%;
        color: #bbbbbb;
        font-size: 18px;
        font-weight: 500;
        overflow: visible;

        @media (max-width: 1750px) {
          font-size: clamp(14px, 2vw, 17px);
          gap: clamp(12px, 3vw, 20px);
        }
        @media (max-width: 1150px) {
          font-size: 14px;
          gap: 12px;
        }

        .header {
          padding-top: 12px;

          .title {
            h1 {
              color: #f5f5f5;
              font-size: 45px;
              font-weight: bold;

              @media (max-width: 1750px) {
                font-size: clamp(25px, 4vw, 43px);
              }
              @media (max-width: 1150px) {
                font-size: 35px;
              }
            }
          }
        }

        .main {
          @include flex(column, flex-start, center, 20px);
          width: 100%;
          flex: 1;

          @media (max-width: 1750px) {
            gap: clamp(10px, 2vw, 18px);
          }
          @media (max-width: 1150px) {
            gap: 10px;
          }

          h3 {
            color: #f5f5f5;
            font-size: 20px;
            font-weight: 500;
            text-shadow: 0.2px 0 currentColor,
            -0.2px 0 currentColor;

            @media (max-width: 1750px) {
              font-size: clamp(16px, 2vw, 18px);
            }
            @media (max-width: 1150px) {
              font-size: 16px;
            }
          }

          .details {
            @include flex(row, flex-start, space-between, 28px);
            width: 100%;
            padding-right: 8px;
            font-size: 16px;

            @media (max-width: 1750px) {
              font-size: clamp(14px, 1.8vw, 15px);
              gap: clamp(12px, 3vw, 26px);
            }
            @media (max-width: 1150px) {
              font-size: 14px;
              gap: 12px;
            }
          }
        }

        .feature {
          ol {
            list-style: none;
            margin-left: 24px;

            li {
              &::before {
                content: "‣";
                width: 1em;
                margin-left: -1em;
                color: #f5f5f5;
                font-weight: 500;
                display: inline-block;
              }
            }
          }
        }
      }

      .button-area {
        width: 100%;
        flex: 0 0 auto;
        display: flex;
        gap: 8px;

        @media (max-width: 1150px) {
          font-size: 16px;
        }

        button {
          flex: 1;
          padding: 10px 20px;
          border-radius: 8px;
          cursor: none;

          position: relative;
          color: rgba(255, 255, 255, 1);
          border: 1px solid rgba(255, 255, 255, .7);
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          overflow: hidden;
          transition: color 0.8s ease, background 0.8s ease;

          &:after {
            position: absolute;
            content: '';
            top: calc(50% - 50px);
            left: -50px;
            width: 20px;
            height: 100px;
            background: rgba(255, 255, 255, 1);
            @include rotate(30deg);
            @include transition(1000ms);
            opacity: 0;
          }

          &:hover {
            &:after {
              left: calc(100% + 50px);
              opacity: 1;
            }

            background: #0E8C55;
            transition-delay: 0.3s;
          }

          &:active {
            filter: brightness(0.85);
          }
        }
      }
    }
  }


  .items {
    transform-origin: -60vh center;
    transform: rotate(0);
    user-select: none;
    display: flex;
  }

  .item {
    position: absolute;
    opacity: 0; // 페이지 도달 전엔 안 보임
    user-select: none;
    cursor: none;
    transform: translateY(-50%);
  }

  .card {
    display: block;
    width: clamp(260px, 35vw, 380px);
    height: clamp(260px, 40vh, 380px);
    color: #fff;
    user-select: none;
    border-radius: 17px;
    overflow: hidden;
    cursor: none;
    position: relative;

    background: linear-gradient(135deg, #2d2724, #0f1c2c); // 다크 브라운: 무난
    padding: 10px; /* 테두리 두께 */
    box-sizing: border-box;

    @media (max-width: 1000px) {
      width: clamp(260px, 28vw, 380px);
    }

    .inner {
      width: 100%;
      height: 100%;
      border-radius: 7px; // 카드 내용 영역 둥글기
      overflow: hidden;
      background: #242124; // 카드 내부 색
      position: relative;
    }
  }


  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(100);
    pointer-events: none;
    transition: transform 0.25s ease, filter 0.25s ease, box-shadow 0.25s ease;
  }

  .hover-enabled .card:hover .image {
    transform: scale(1.05);
    filter: grayscale(0);
  }
}

.track-label {
  position: absolute;
  bottom: 12px;
  right: 12px;
  z-index: 10;
  pointer-events: none;
  overflow: hidden; /* 글자 영역 밖 숨김 */
}

.track-label .reveal-text {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 2;
}

.track-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* 왼쪽 밖에서 시작 */
  width: 100%;
  height: 100%;
  background: #38A16C; /* 초록색 */
  z-index: 3;
}

/* 애니메이션 적용 */
.track-label.animate::before {
  animation: revealBlock 0.9s cubic-bezier(.2, .9, .2, 1) forwards;
}

.track-label.animate .reveal-text {
  animation: revealTextColor 0.01s linear forwards;
  animation-delay: 0.45s; /* 블록 지나간 후 글자 보이게 */
}

@keyframes revealBlock {
  0% {
    left: -100%;
  }
  50% {
    left: 0%;
  }
  /* 블록이 글자 덮음 */
  100% {
    left: 100%;
  }
  /* 오른쪽으로 사라짐 */
}

@keyframes revealTextColor {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    background: linear-gradient(90deg, #FFB472, #FF7F7F, #708CFF);
    -webkit-background-clip: text;
    color: transparent;
  }
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.image-modal {
  @include flex(column, center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  cursor: none;
  pointer-events: none;
  backdrop-filter: blur(8px);
  transition: opacity 0.3s ease;
  z-index: 9999;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .modal-content {
    @include flex(column, center, center);
    max-width: 60%;
    max-height: 60%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, .7);

    @media (max-width: 1000px) {
      max-width: 80%;
      max-height: 80%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }

  .close-button {
    margin-top: 24px;
    display: inline-block;
    max-width: 100%;
    width: auto;
    padding: 10px 0;
    border-radius: 8px;
    cursor: none;

    position: relative;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, .7);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: color 0.8s ease, background 0.8s ease;

    &:after {
      position: absolute;
      content: '';
      top: calc(50% - 50px);
      left: -50px;
      width: 20px;
      height: 100px;
      background: rgba(255, 255, 255, 1);
      @include rotate(30deg);
      @include transition(1000ms);
      opacity: 0;
    }

    &:hover {
      &:after {
        left: calc(100% + 50px);
        opacity: 1;
      }

      background: #0E8C55;
      transition-delay: 0.3s;
    }

    &:active {
      filter: brightness(0.85);
    }
  }
}

// 프로젝트 보기 버튼 모달
#modal {
  @include flex(row, center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  cursor: none;
  z-index: 9999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .modal-content {
    color: #000000;
    background: #fff;
    padding: 20px 30px 10px 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    transform: scale(0.95);
    transition: transform 0.3s ease;
  }

  &.show .modal-content {
    transform: scale(1);
  }

  .close-button {
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 6px;
    cursor: none;
    background: #0E8C55;
    color: #fff;
    border: none;
    font-weight: bold;
    transition: background 0.3s ease;

    &:hover {
      background: #0c6f44;
    }

    &:active {
      filter: brightness(0.85);
    }
  }
}


// 모바일 대응용
@media (max-width: 800px) {
  #projects {
    height: 100vh;

    .container {
      position: relative;

      .center {
        opacity: 0;
        pointer-events: none;
      }

      .right-area {
        @include flex(column, center, center);
        position: relative;
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: clamp(130px, 15vw, 125px) clamp(10px, 5vw, 20px) clamp(120px, 3vw, 60px);
        top: auto;
        right: auto;
        x: 0;

        @media (max-width: 686px) {
          padding: clamp(10px, 12vw, 125px) clamp(10px, 5vw, 20px) clamp(10px, 10vw, 60px);
        }
        @media (max-width: 540px) {
          padding: clamp(50px, 20vw, 125px) clamp(10px, 5vw, 20px) clamp(10px, 10vw, 60px);
        }

        .info {
          font-size: clamp(14px, 2.5vw, 18px);

          .header {
            .title {
              h1 {
                font-size: clamp(25px, 4vw, 45px);
              }
            }
          }

          .main {
            gap: clamp(10px, 2vw, 20px);

            h3 {
              font-size: clamp(16px, 2vw, 20px);
            }

            .details {
              font-size: clamp(14px, 1.8vw, 16px);
              gap: clamp(12px, 3vw, 26px);
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-wrap: wrap;
            }
          }
        }

        .button-area {
          font-size: clamp(16px, 2.5vw, 18px);
        }
      }
    }
  }
}


