*,
*::after,
*::before {
  box-sizing: border-box;
}

#projects {
  //height: 100vh;
  margin: 0;
  color: black;
  font-weight: 600;
  width: 100%;
  overflow-x: hidden;

  .container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    overflow: hidden;
  }

  .center {
    height: 100vh;
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translate(-50%);
    user-select: none;
  }

  .items {
    transform-origin: -60vh center;
    transform: rotate(0);
    user-select: none;
    display: flex;
  }

  .item {
    position: absolute;
    opacity: 0; // 페이지 도달 전엔 안 보임
    user-select: none;
    cursor: pointer;
    transform: translateY(-50%);
  }

  .card {
    display: block;
    width: 380px;
    height: 380px;
    color: #fff;
    user-select: none;
    border-radius: 17px;
    overflow: hidden;
    cursor: grab;
    position: relative;
    border: 10px solid black;
  }

  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(100);
    pointer-events: none;
  }


}

