@charset "UTF-8";

@mixin transition($duration) {
  -webkit-transition: all $duration cubic-bezier(0.23, 1, 0.32, 1);
  transition: all $duration cubic-bezier(0.23, 1, 0.32, 1);
}

@mixin rotate($angle) {
  -webkit-transform: rotate($angle);
  transform: rotate($angle);
}

@import "../../_def";


:root {
  --color: #95f9fe;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#projects {
  margin: 0;
  width: 100%;
  overflow-x: hidden;

  .container {
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    overflow: hidden;


    .center {
      height: 100vh;
      position: absolute;
      left: 22%;
      top: 50%;
      transform: translate(-50%);
      user-select: none;
    }

    .right-area {
      @include flex(column, center, flex-start);
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100vw - 50%);
      height: 100vh;
      padding: 100px 140px 50px 10px;
      overflow: hidden;
      opacity: 0;

      #box {
        @include flex(row, center, center);
        width: 100%;
      }

      .gradient-border {
        @include flex(column, center, center);
        flex: 1; // 상단 사진 영역
        width: 100%;
        --borderWidth: 3px;
        position: relative;
        border-radius: var(--borderWidth);
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

        &::after {
          content: '';
          position: absolute;
          top: calc(-1 * var(--borderWidth));
          left: calc(-1 * var(--borderWidth));
          height: calc(100% + var(--borderWidth) * 2);
          width: calc(100% + var(--borderWidth) * 2);
          background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
          border-radius: calc(2 * var(--borderWidth));
          z-index: -1;
          animation: animatedgradient 3s ease alternate infinite;
          background-size: 300% 300%;
        }

        .container {
          width: 100%;
          display: flex;
          padding: 0 20px;

          .slide {
            height: auto;
            border-radius: 20px;
            margin: 10px;
            cursor: pointer;
            color: #fff;
            flex: 1;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            transition: all 0.7s ease-in-out;
            filter: blur(2px);

            &.active {
              flex: 10;
              filter: blur(0px);
            }
          }

          //.slide h3 {
          //  position: absolute;
          //  font-size: clamp(1rem, 5vw, 5rem);
          //  bottom: 20px;
          //  left: 20px;
          //  margin: 0;
          //  opacity: 0;
          //  background-color: #e3fdf5;
          //  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
          //  -webkit-background-clip: text;
          //  background-clip: text;
          //  -webkit-text-fill-color: transparent;
          //}

          //.slide.active h3 {
          //  opacity: 1;
          //  transition: opacity 0.3s ease-in 0.4s;
          //}

          //@media screen and (max-width: 50rem) {
          //  .slide h3 {
          //    left: 5px;
          //  }
          //}
        }
      }

      .info {
        @include flex(column, flex-start, flex-start, 24px);
        flex: 3; // 중간 프로젝트 정보 영역
        margin-bottom: 20px;
        width: 100%;
        color: #bbbbbb;
        font-size: 18px;
        font-weight: 500;
        overflow: hidden;

        .header {
          padding-top: 12px;
          .title {
            h1 {
              color: #f5f5f5;
              font-size: 45px;
              font-weight: bold;
            }
          }
        }

        .main {
          @include flex(column, flex-start, center, 20px);
          width: 100%;
          flex: 1;

          h3 {
            color: #f5f5f5;
            font-size: 20px;
            font-weight: 500;
            text-shadow: 0.2px 0 currentColor,
            -0.2px 0 currentColor;
          }

          .details {
            @include flex(row, flex-start, flex-start, 28px);
            font-size: 16px;
          }
        }

        .feature {
          ol {
            list-style: none;
            margin-left: 24px;

            li {
              &::before {
                content: "‣";
                width: 1em;
                margin-left: -1em;
                color: #f5f5f5;
                font-weight: 500;
                display: inline-block;
              }
            }
          }
        }
      }

      .button-area {
        width: 100%;
        flex: 0 0 auto;
        display: flex;
        gap: 8px;

        button {
          flex: 1;
          padding: 10px 20px;
          border-radius: 8px;
          cursor: none;

          position: relative;
          color: rgba(255, 255, 255, 1);
          border: 1px solid rgba(255, 255, 255, .7);
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          overflow: hidden;
          transition: color 0.8s ease, background 0.8s ease;

          &:after {
            position: absolute;
            content: '';
            top: calc(50% - 50px);
            left: -50px;
            width: 20px;
            height: 100px;
            background: rgba(255, 255, 255, 1);
            @include rotate(30deg);
            @include transition(1000ms);
            opacity: 0;
          }

          &:hover {
            &:after {
              left: calc(100% + 50px);
              opacity: 1;
            }

            background: #0E8C55;
            transition-delay: 0.3s;
          }

          &:active {
            filter: brightness(0.85);
          }
        }
      }
    }
  }


  .items {
    transform-origin: -60vh center;
    transform: rotate(0);
    user-select: none;
    display: flex;
  }

  .item {
    position: absolute;
    opacity: 0; // 페이지 도달 전엔 안 보임
    user-select: none;
    cursor: none;
    transform: translateY(-50%);
  }

  .card {
    display: block;
    width: 380px;
    height: 380px;
    color: #fff;
    user-select: none;
    border-radius: 17px;
    overflow: hidden;
    cursor: none;
    position: relative;

    background: linear-gradient(135deg, #2d2724, #0f1c2c); // 다크 브라운: 무난
    //background: linear-gradient(135deg, #252b22, #0f1c2c); // 다크 올리브: 오묘함
    padding: 10px; /* 테두리 두께 */
    box-sizing: border-box;

    .inner {
      width: 100%;
      height: 100%;
      border-radius: 7px; // 카드 내용 영역 둥글기
      overflow: hidden;
      background: #242124; // 카드 내부 색
      position: relative;
    }
  }


  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(100);
    pointer-events: none;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}






.image-modal {
  @include flex(column, center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(8px);
  transition: opacity 0.3s ease;
  z-index: 9999;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .modal-content {
    max-width: 60%;
    max-height: 60%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }

  .close-button {
    margin-top: 24px;
    width: 60%;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: none;

    position: relative;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, .7);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: color 0.8s ease, background 0.8s ease;

    &:after {
      position: absolute;
      content: '';
      top: calc(50% - 50px);
      left: -50px;
      width: 20px;
      height: 100px;
      background: rgba(255, 255, 255, 1);
      @include rotate(30deg);
      @include transition(1000ms);
      opacity: 0;
    }

    &:hover {
      &:after {
        left: calc(100% + 50px);
        opacity: 1;
      }

      background: #0E8C55;
      transition-delay: 0.3s;
    }

    &:active {
      filter: brightness(0.85);
    }
  }
}
