@charset "UTF-8";

@import "../../_def";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  @include flex(row, center, center);
  position: fixed;
  width: 100%;
  overflow: hidden;
  background: transparent;
  z-index: 1000;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

  &.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .toolbar {
    width: 100%;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    main {
      @include flex(row, center, center);
      flex-wrap: wrap;

      width: max-content;
      height: max-content;
      margin: 0 auto;
      
      @media (max-width: 550px) {
        margin: 0;
      }

      button {
        @include flex(row, center, center);
        --size: 60px;
        border: none;
        min-width: var(--size);
        min-height: var(--size);
        font-size: 1.2rem;
        background: rgba(255, 255, 255, 0.08);
        color: #fff;
        transition: background 200ms ease, color 200ms ease;
        cursor: none;
      }

      &:hover {
        button {
          background: rgba(255, 255, 255, 0.04);
          color: rgba(255, 255, 255, 0.04);

          &:hover {
            color: #fff;
          }
        }
      }
    }

    .support {
      position: absolute;
      right: 10px;
      bottom: 0;
      padding: 10px;
      display: flex;
      cursor: none;

      a {
        margin: 0 10px;
        color: #fff;
        font-size: 1.8rem;
        backface-visibility: hidden;
        transition: all 150ms ease;
        cursor: none;

        &:hover {
          transform: scale(1.1);
        }
      }

    }
  }
}