@charset "UTF-8";

@use "sass:color";

@mixin flex($flex-direction, $align-items: center, $justify-content: center, $gap: 0, $flex-wrap: nowrap) {
  align-items: $align-items;
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  gap: $gap;
  justify-content: $justify-content;

  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }

  > [data-mt-stretch] {
    flex-grow: 1;
    flex-shrink: 1;
  }
}