@charset "UTF-8";

// IBM Plex Mono (Google Fonts) 레트로 터미널 느낌
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');
// Galmuri11 폰트
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Galmuri11/Galmuri11.css');

// Press Start 2P 폰트
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Galmuri11', 'IBM Plex Mono', -apple-system, BlinkMacSystemFont,
  "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

button, input, select, textarea {
  background-color: initial;
  border: none;
  color: inherit;
  font: inherit;
  margin: initial;
  margin-block: initial;
  margin-inline: initial;
  outline: none;
  padding: initial;
  padding-block: initial;
  padding-inline: initial;
}

